body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
    text-align: center; /* Center text by default */
}

h1 {
    color: red;
    margin-top: 20px;
    font-size: 2em;
}
.container{
    width: 500px,

}
