{% extends 'jipange/base.html'%}
{% block content %}
<body>
    <div>
        <table class="table table-light table-hover">
            <tr>
                <th>Event Name</th>
                <th>Total Contribution</th>
            </tr>
            {% for event in event_contribution %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.event_total }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div>
        

    </div>
</body>
{% endblock %}